[Unit]
Description=Forecaster
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker rm -f willp/forecaster:arm32v6
ExecStartPre=/usr/bin/docker pull willp/forecaster:arm32v6
ExecStart=/usr/bin/docker run -d -p 80:80 willp/forecaster:arm32v6

[Install]
WantedBy=multi-user.target
